<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>STB Everywhere</h1>
        </div>
        
        
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="https://www.facebook.com/stbbank/?locale=fr_FR" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.linkedin.com/company/stb-bank/?originalSubdomain=fr" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.instagram.com/stbbank/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/c/STBBank" target="_blank"><i class="bi bi-youtube"></i></a>
            
        </div>
    </div>
</div>